body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#empimg{
 width: 200px;
 height: 200px;
  border-radius: 50%;
}
.modal{
  font-style: italic;
  font-family: monospace;
  color: rgb(187, 105, 10);
  background-color: rgb(116, 203, 220);
}

.modal-content{
  background-color: rgb(198, 239, 86);
}
.close {
  font-size: 30px; /* Adjust the value as needed */
}